services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - 5431:5432
    volumes:
      - db_data:/var/lib/postgresql
      
volumes:
  db_data: